  body {
      background:red;
      font-family:Arial;
  }

  h2 {
      font-size: 1.5em;
      padding: 0 0   0 20px ;
  }
  img {
      padding: 5px;
  }
  button {
      width:100%;
      height:25%;
      font-size:5em;
      font-weight:bold;
      background:yellow;
      opacity:0.8;
  }
  button:hover {
      opacity:1.0;
      cursor:hand;
  }

  .halfwidth {
      width: 45%;
  }
  .fullwidth {
      width:95%;
  }

  .highlight{
         background:#00ff00;
  }

  #btnAlert {
      color:#aa33aa;
  }
